extends layout

block content
	hr
	div.row.panel
		div.large-6.columns
			h1= title
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum nibh eget nibh molestie, vitae luctus purus lobortis. Suspendisse nunc urna, posuere ut urna eget, consequat facilisis lorem. Quisque tristique laoreet justo at semper. Donec maximus faucibus metus, non malesuada velit. Praesent suscipit augue quis est auctor, quis interdum nunc mattis. Suspendisse placerat eros et metus pretium, ac hendrerit ex ornare. Donec auctor diam a imperdiet fringilla. Vestibulum varius erat sed ipsum eleifend consequat at sed diam. Morbi vulputate pretium neque sodales pharetra. Suspendisse at volutpat tortor. Etiam vitae iaculis ligula. Aliquam orci dolor, eleifend a sagittis et, malesuada vel lectus. Ut non aliquet sapien. Nullam sodales leo vitae libero efficitur, euismod bibendum massa feugiat. Nunc vitae mi erat.
		div.large-6.columns
			div.slicky-class
				div
					img(src="images/squash.jpg").medium-image
				div
					img(src="images/squash.jpg").medium-image
				div
					img(src="images/squash.jpg").medium-image
	div.row.panel
		div.large-8.large-centered.columns
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum nibh eget nibh molestie, vitae luctus purus lobortis. Suspendisse nunc urna, posuere ut urna eget, consequat facilisis lorem. Quisque tristique laoreet justo at semper. Donec maximus faucibus metus, non malesuada velit. Praesent suscipit augue quis est auctor, quis interdum nunc mattis. Suspendisse placerat eros et metus pretium, ac hendrerit ex ornare. Donec auctor diam a imperdiet
	div.row
		div.large-5.columns
			h2 Top
			div.slicky-class
				div
					img(src="images/chili1.jpg")
				div
					img(src="images/chili3.jpg")
				div
					img(src="images/chili2.jpg")
		div.large-6.columns
			h1= title
			p asl;dfj;skjeflsjkef;lskajf;eljsa;lfkja;sldjf;lasdjfalkvjd;alskjd;laskjvd;lkjas;ldvj;alsdk;l
	div.row
		div.large-6.columns
			h1= title
			p asl;dfj;skjeflsjkef;lskajf;eljsa;lfkja;sldjf;lasdjfalkvjd;alskjd;laskjvd;lkjas;ldvj;alsdk;l
		div.large-5.columns
			h2 Top
			div.slicky-class
				div
					img(src="images/quiche1.png").medium-image
				div
					img(src="images/quiche2.png").medium-image